@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Titillium+Web&display=swap');
* {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Titillium Web', sans-serif;
}
p {
    line-height: 150%;
}
.wrapper {
    overflow: hidden;
    width: 1125px;
    margin: 0 auto;
}
.header {
    height: 85px;
}
.logotype {
    margin-top: 29px;
    float: left;

}
.first_nav {
    float: right;
    margin-top: 29px;
    font-weight: 600;

}
.first_nav ul {
    list-style: none;
    }
.first_nav ul li {
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
}
.first_nav a {
    color: #666;
    text-decoration: none;
}
/* Заголовки */
h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 48px;
    line-height: 58px;
}

h2 {
    font-size: 36px;
    line-height: 44px;
}

h3 {
    font-size: 24px;
}
h4 {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
} 
/* 1 блок */
.second {
    overflow: hidden;
}
.blok_1_left {
    width: 50%;
    float: left;
    padding-top: 122px;
}
.blok_1_left p {
margin-top: 43px;
}
.blok_1_right  {
    width: 50%;
    float: left;
}
/* 2 блок */
.third {
    overflow: hidden;
}
.blok2_left, .blok2_right {
    width: 50%;
    height: 590px;
    float: left;
    margin: 30px 0;
    /* margin-top: 30px; */
} 

.blok2_right {
    padding-top: 132px;
}
.blok2_right p {
    padding-top: 42px;
    padding-left: 50px;
}
.blok2_right h1 {
    padding-left: 50px;
}
.blok2_right a {
    display: inline-block;
    margin-top: 20px;  
    margin-left: 50px;  
}
/* 3 блок */
.fourth {
    overflow: hidden;
}
.blok3_left, .blok3_right {
    width: 50%;
    height: 590px;
    float: left;
    margin-top: 30px;
}
.blok3_left {
    padding-top: 132px;
}
.blok3_left p {
    padding-top: 42px;
    padding-left: 0px;
}

.blok3_left a {
    display: inline-block;
    margin-top: 20px;
}
.text {
    margin-bottom: 30px;
}
/* 4 -5 блок */
.fifth, .sixht {
    overflow: hidden;
}
.blok4 {
    float: left;
    width: 300px;
    margin-right: 100px;
    position: static;
}
.blok4:last-of-type {
    margin-right: 0;
}
.bloktex {
    width: 280px;
    height: 218px;
    background-color: #fff;
    opacity: 70%;
    margin-top: -50px;
    margin-left: 26px;
}
.bloktex h3, p {
    padding: 10px 20px;
}
.bloktex p {
    font-size: 15px;
    line-height: 25px;
}
/* 6 блок */

.seventh {
    overflow: hidden;
    background-color: #eeeeee;
    margin-top: 60px;
    /* padding: 50px 0; */
    height: 285ph;
} 
.learning {
    width: 50%;
    float: left;
    padding: 50px 0;
}
.forme {
    float: right;
    padding: 30px;
}
.learning h2 {
margin-top: 2px;
}
.learning p {
    margin-top: 2px;
    font-size: 18px;
    line-height: 30px;
    color: #4A4A4A;
    padding-left: 0;
}

.forme {
    padding-top: 80px;
    padding-left: 80px;
}
.footer {
    height: 365px;
}
.col1, .col2, .col3, .col4 {
    width: 24%;
    float: left;
    margin-top: 30px;
    }
    a {
        text-decoration: none;
        color: #666;
        line-height: 250%;
}


    
