@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Titillium+Web&display=swap');
* {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Titillium Web', sans-serif;
}
p {
    line-height: 150%;
}
.wrapper {
    width: 1130px;
    margin: 0 auto;
}
.header {
    height: 85px;
}
.logotype {
    margin-top: 29px;
    float: left;

}
.first_nav {
    float: right;
    margin-top: 29px;

}
.first_nav ul {
    list-style: none;
    }
.first_nav ul li {
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
}
.first_nav a {
    color: #666;
    text-decoration: none;
}
/* Заголовки */
h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 48px;
    line-height: 58px;
}

h2 {
    font-size: 36px;
    line-height: 44px;
}

h3 {
    font-size: 24px;
}
.blok_1_left {
    width: 50%;
    float: left;
    padding-top: 122px;
}
.blok_1_left p {
margin-top: 43px;
}
.blok_1_right  {
    width: 50%;
    float: left;
}
.blok2_left, .blok2_right {
    width: 50%;
    height: 590px;
    float: left;
    margin-top: 30px;
    }
.blok2_right {
    padding-top: 132px;
}
.blok2_right p {
    padding-top: 42px;
}
.blok3_left, .blok3_right {
    width: 50%;
    float: left;
    margin-top: 30px;
}
.blok3_left {
    padding-top: 132px;
}
.blok3_left p {
    padding-top: 42px;
}